<nav class="menu-top">
    <div class="container">
        <div class="row">
            <a class="col-md-6 navbar-brand" href="/">Itwork</a>
            <div class="col-md-5 menu-single" id="navbarsExample05">
                <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="jobs">All Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/company">Company Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Sign in</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>