<section class="feature-destination">
    <div class="container">
      <div class="row">
        <div class="col-md-4 element-animate ">
          <a href="#" class="img-bg" style="background-image: url('images/img_2.jpg')">
            <div class="text">
              <span class="icon ion-ios-location"></span>
              <h2>Stockton Beach, Austrlia</h2>
              <p>Visit This Place</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 element-animate ">
          <a href="#" class="img-bg" style="background-image: url('images/img_1.jpg')">
            <div class="text">
              <span class="icon ion-ios-location"></span>
              <h2>Trogir, Croatia</h2>
              <p>Visit This Place</p>
            </div>
          </a>
        </div>
        <div class="col-md-4 element-animate ">
          <a href="#" class="img-bg last" style="background-image: url('images/img_3.jpg')">
            <div class="text">
              <span class="icon ion-ios-location"></span>
              <h2>Desert, Morocco</h2>
              <p>Visit This Place</p>
            </div>
          </a>
        </div>
      </div>
    </div>
</section>