<div class="container">
    <div class="job">
        <div class="row">
            <div class="col-md-1 job-logo">
                <img src="https://cdn.itviec.com/system/production/employers/logos/103/hanel-software-solutions-logo-65-65.png?1454113619" alt="" width="65px" height="65px">
            </div>
            <div class="col-md-9 job-description">
                   <div class="job-body">
                        <h2 class="title">
                            <a href=""><%= job.name %></a> 
                        </h2>
                        <span class="salary"><i class="ion-ios-circle-outline"></i><%= job.salary %></span>
                        <div class="description">
                            <%= job.description_job %>
                        </div>
                   </div>       
                   <div class="job-bottom">
                        <% job.category_id.forEach(function(cat){%>
                        <div class="tag-list"><%= cat %></div>
                        <% });%>
                   </div>
            </div>
            <div class="col-md-1 city-date">
                <div class="job-bottom">
                    <div class="address">Hồ Chí Minh</div>
                    <div class="date">1 ngày trước</div>
                </div>            
            </div>
        </div>
    </div> 
</div>
