.navbar{
  position: relative;
}

.job .job-logo{
  text-align: center;
}

.job .row {
  background: #f9f9f9;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.job .row:hover{
  background: #FFFFFF;
}
.job .job-logo img{
  margin-top: 20px
}
.job .job-description .job-body .title{
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 10px
}

.job .job-description .job-body .title a{
  color: black;

}
.job .job-description .job-body .title a:hover{
  font-size: 25px;
  text-decoration: none;
  color: red;
}
.job .job-description .job-body .description{
  margin-top: 10px;
  color: #727272;
  text-align: justify;
  overflow: hidden;
  width: 100%;
  line-height: 1.3em;
}
.job .job-description .job-bottom{
  display: inline;
}

.job .job-description .job-bottom .tag-list{
  float: left;
  border: 1px solid gray;
  margin: 10px;
  padding: 2px 5px;
}

.menu-top{
  background-color: #221F20
}

.menu-top .menu-single ul{
    display: inline;
}
.menu-top .menu-single ul li{
  
  display: inline-block;
  margin: 5px 10px;
}
